
# Permitir cross-origin desde cualquier dominio
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
</IfModule>

# Manejar solicitudes OPTIONS para CORS preflight
RewriteEngine On
RewriteRule ^(.*)$ $1 [L,R=200]
